@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Neucha&family=Old+Standard+TT&display=swap');
@font-face {
    font-family: 'icomoon';
    src: url('fonts/iconmoon/fonts/icomoon.woff') format('woff');           
    font-weight: normal;
    font-style: normal;
    }


 body {
        display: grid;
        grid-template-rows:repeat(auto-fill,fit-content(100%));
        margin: 0 0;
        grid-gap: 30px;
        font-family: 'Old Standard TT', serif; 
        min-width: 320px !important;          
    }

/*header используется на всех страницах*/

.header {
        display:flex;
        justify-content: center;
        align-items: center; 
        border-bottom:thick double #003bcd;
        height: fit-content;
        width: 100%;
        
}

.header a{
    width: 100%;
    display:flex;
    justify-content: center;
}

.header a img {
    margin: 10px 0;
    width:30vw;
    min-height: 50px;
    min-width: 300px;
} 

/*slider используется на всех страницах*/

.slider {
    width: 100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0;
}

.slider__image {
    width: 100%;
    object-fit: contain;
}

.slider__single {
    width: 100%;
    object-fit: contain;
}

.slider__hidden {
    display: none;
}

.slider__region {
    position: absolute;
    z-index: 2;    
    align-self: end;
    background-color:rgba(255, 255, 255, 0.65);
    border-radius: 5px;
    color: #001c64;
    font-size: 40px;
    font-family: 'Neucha', cursive;
    text-align: center;
    width:50%;
}


/*menu используется на всех страницах*/

.menu_fixed {
    position: fixed;
    top: 0;
    bottom: auto;
    z-index: 1000;
    width:100%;
    
}

.menu {    
    display: grid;
    background-color: white;
    height: 50px;
    width: 100%;
    font-family: 'Neucha', cursive;
    font-size: 24px;
    border-bottom:thick double #003bcd;
    border-top:thick double #003bcd;
    grid-template-columns: 10% 1fr 10%;
}

.menu img{
    height: 40px;
    width: 90%;
    margin: 0 5%;
    align-self: center;  
}

.menu ul {
    display:flex;
    justify-content: space-around;
    height: inherit;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.menu ul li {       
    width: 20%; 
    list-style-type: none; 
    
}

.menu ul li a {
    display: inline-block;
    height: inherit;
    width: 100%;
    text-decoration: none;
    color:black;
    line-height: 50px;
    text-align: center;
    font-size: 20px;  
}

.menu ul li a:hover {
    background-color:#aa88006a;
    font-size: 22px;
    color:white;   
    box-shadow:0px -2px 5px rgb(216, 216, 216);    
}
   
.menu__submenu ul{                        /*выпадающее меню Регионы,Путеводители,Маршруты*/
    display: block;  
    width: 100%;
    height: fit-content;               
    position:relative;         
    background-color:white;
    box-shadow:0px -2px 5px gray;
    margin: 0;
    z-index: 2;
    visibility: collapse;
}

.menu__submenu ul li{
    position: relative;
    width: 100%;
    margin: 0;
}

.menu__submenu ul li:hover {
    border-top: 1px solid rgb(188, 188, 188);
    border-bottom: 1px solid rgb(188, 188, 188);
    /* animation: AnimSubButton 0.3s;
    animation-iteration-count:1;
    animation-fill-mode: forwards; */
}

/* @keyframes AnimSubButton {
    to{
        box-shadow:inset 0.5px 0.5px  7px gray;
        font-size: 20px;
    }
} */

li.menu__submenu:hover ul {  
   visibility:visible;
}






/* map - используется на всех страницах регионов */
.map {
    display: grid;
    grid-template-columns: repeat(2,40vw);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    grid-gap: 20px;
  
}

.map__region{
        width:fit-content;
        height: fit-content ;
        display: flex;
        justify-content: center
    }

    .map__region img{
        width: 40vw;
        height: fit-content; 
        object-fit: contain;
        min-width: 300px;
    }

    .photogallery {
        display: grid;
        grid-template-rows: repeat(2,fit-content(100%));
        grid-template-columns: repeat(2,fit-content(100%));
        grid-gap: 20px;
        width: 40vw;
        height: fit-content;  
        align-items: center;
 
    }
    
    .photogallery__element {
        display: flex;
        justify-content: center;
        width:100%;
        height:fit-content;
    
 }

    .photogallery__element img{
        width: 100%;
        object-fit: cover;
        height: fit-content;
        
    }




/*universal_container используется для блоков с новостями и событиями*/

.universal_container {
    width: 90%;
    height: fit-content;
    margin: 0 5%;
    border: 1px solid #0098cd;
    display: grid;
    grid-template-rows: repeat(2,fit-content(100%));
      
}

/* видео контейнер */

.video__container {
    display:flex;
    justify-content: center;
    align-self:center;
    width: 64vw;
    height: 36vw;
    margin: 20px auto; 
    box-shadow: 0px 0px 5px 5px lightgrey;
    min-width: 280px;
    min-height: 158px;
}

.video__container iframe{
    width: inherit;
    height: inherit;
    display: flex;
    flex: 1 1 auto;
    min-width: 280px;
    min-height: 158px;
}



.universal_container h3 {
    background-color:#0098cd;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    text-indent: 25px;
    color:white;
    height:50px;
    line-height: 50px;
    margin: 0 0 5px 0;
}



/*interesting_locations используется на regions */

.locations {
    display:flex;
    flex-direction: column;

}

.location {
    padding: 10px;
     margin:0px 0 ;
     margin:10px 10px;
     height:fit-content;
}

 .location a{
     display:grid;
     grid-template-columns: 300px 1fr;
     text-decoration: none;
     color:black;
     width: 100%;
     height: fit-content;
     grid-gap: 10px;
     min-height: 200px;
}


.location a:hover {
    /* border:1px solid blue; */
    box-shadow:-1px -1px 5px 5px #0098cd;
    
}

.location__image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.location__image img {
    
    width: 90%;
    height: 90%;
    object-fit: cover;
    
}

.location__info {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-evenly;
}

/*.info-of-region */

.info {
    display: grid;
    grid-template-rows: repeat(2,fit-content(100%));
    width: calc(100% - 40px);
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
}

.info-main__element {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: fit-content(100%);
    height: fit-content;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info-main__element figure {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 0;
    width: 100%;
    height: 200px;
    grid-column: 2;
   
}

.info-main__element figure img {
    height: 100%;
    object-fit:contain;
}


.info-main__text {
 grid-column: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 height: 100%;
 width: 100%;
}

.info__elements{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    text-align: justify;
}


.info__element{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: calc(100% - 40px);
    margin: 0 20px;
}

.info-element_h4 {
    margin: 0;
    font-weight: normal;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    width: 100%;
  }

  .info-element_h4:hover {
    cursor: pointer;
  }


.info__element p{
    width: 100%;
    text-align: justify;
    margin: 5px;
    text-indent: 15px;
}

.info-element_p_hiden{
    display: none;
}

.info__history-foto {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    grid-template-rows: repeat(2,fit-content(100%));
    grid-template-columns: repeat(3, 1fr);
    width: calc(100% - 40px);
    margin: 0 20px;
    grid-column-gap: 10px;
}

.info__history-foto h4{
    width: 100%;
    text-align: center;
    font-size: 20px;
    grid-column: 1 / span 3;
    grid-row: 1;
}

.info__history-foto .history-foto{
    display: grid;
    grid-row:2;
    grid-template-rows: 1fr fit-content(100%);
    grid-template-columns: 100%;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
}

.history-foto figure{
    
    margin: 0;
}

.info__history-foto .history-foto img {
width: 100%;
height: 300px;

object-fit: cover;
}


.history-foto figcaption{
    margin: 5px 0 0 0;
    font-size: 12px;
    height: fit-content;
    text-align: center;
    

}



footer {
    display:grid;
    grid-template-columns: repeat(3,fit-content(100%));
    width: inherit;
    height:50px;
    justify-content: space-evenly;
    align-items:center;
    background-color:#0098cd;
    color:white;
    margin-top: 10px;
    text-align: center;
    /* line-height: 15px; */
    font-family: 'icomoon'; 
}

.footer__text {
    grid-column: 1;
    font-size: 20px;
}

.footer__text p{
    margin: 0 0;
}


.footer__contacts{
    display: flex;
    grid-column: 2;
}

.footer__contacts a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin: 0 5px;
}


.footer__social-contacts {
    order: 1;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.footer__social-contacts a {
    text-decoration: none;
    width: 30px;
    height:30px;
    margin: 0 5px 0;
    font-size: 30px;
   
}


.to-top {
    position: fixed;
    bottom: 6%;
    right: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-color:white;
    color: #0098cd;
    text-decoration: none;
    text-align: center;
    opacity: 0.8;
    border-radius:50px;
    font-family: 'icomoon' !important;
    font-size: 50px;
    box-shadow: 0px 2px 2px 2px rgb(204, 202, 202);
  }



  .icon-circle-up:before {
    content: "\ea41";
    
  }

  .to-top_hiden {
    display: none;
  }

  

  .to-top:hover {
    opacity: 1;
    cursor:pointer;
  }

  .icon-phone:before {
    content: "\e942";
    color: white;
  }

  .icon-mail:before {
    content: "\ea83";
  }

  .icon-instagram:before {
    content: "\ea92";
    color: white;
  }

  .icon-facebook2:before {
    content: "\ea91";
    color:white;
  }



  .icon-vk:before {
    content: "\ea98";
    color: white;
  }


  @media (max-width:920px) and (min-width:720px)
{
    body {
        grid-gap: 20px;
    }

    .slider h2{
        width: 65%;
        font-size: 36px;
        margin: 20px auto;
    }
    
    .menu ul {
        width: 100%;

    }

    .menu ul li a {
        font-size: 20px;
    }
    
    .menu ul li a:hover {
        font-size: 20px;
    }

    .menu__submenu ul {
        width: 150px;
    }

    .menu__submenu ul li {
        width: 150px;
        height: fit-content;
    }

    .menu__submenu ul li a{
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }

    .menu__submenu ul li a:hover{
        font-size: 12px;
    }
  
}



@media (max-width:720px) and (min-width:600px)
{
    body{
        grid-gap: 15px;
    }

    .slider h2{
        width: 70%;
        font-size: 28px;
        margin: 15px auto;
    }
    .menu{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .menu ul {
        width: 100%;
    }

    .menu img{
        display: none;
    }

    .map {
        grid-template-rows: repeat(2,fit-content(100%));
        grid-template-columns: repeat(1,fit-content(100%));
        width: 100vw;
        justify-items: center;
    }

    .photogallery {
        width: 80vw;
    }

    .universal_container h3 {
        font-size: 18px;
        height: 40px;
        line-height: 40px;
    }


    .location__info p {
        display: none;
    }

    .location a {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: fit-content(100%) 1fr;
    }

    .location__info{
        grid-row:1;
    }

    .location__info h4{
        text-align: center;
        margin:0;
    }

    .info-element_h4 {
        font-size: 16px;
    }

    .info__history-foto {
        grid-template-rows: 25px fit-content(100%);
    }

    .info__history-foto h4{
    font-size: 16px;
      margin: 0;        
    }

    .info__history-foto .history-foto img {
        width: 100%;
        height: fit-content;
        object-fit: contain;
    }

    .footer__text {
        font-size: 18px;
    }

    .footer__social-contacts{
        font-size: 24px;
    }
}

@media (max-width:600px) 
{
    body {
        grid-gap: 10px;
    }

    .slider h2{
        width: 80%;
        font-size: 26px;
        margin: 10px auto;
    }
    

    .header__logo{
       height: 50px;

    }

    .header__logo img{
        width: 300px;
        height: 50px;
    }

    .header a{
        width: 98%;
    }

    .menu{
        grid-template-columns: 1fr;
        width: 100%;
        height: fit-content;
    }
    .menu ul {
        
        width: 100%;
        height: 30px;
    }

    .menu img{
        display: none;
    }

     
    .menu ul li a{
        position: relative;
        font-size: 12px;
        line-height: 28px;
        height: 100%;
        }
       
        .menu ul li a:hover {
            font-size: 12px;
        }
    
        .menu__submenu ul {
            width:  100%;
            height: fit-content;
        }

        .menu__submenu ul li{
            border:0px;
            height: fit-content;
        }
    
       
    
        .menu__submenu ul li a{
            font-size: 8px;
            height: fit-content;
            line-height: 10px;
            top: 0px
        }
    
        .menu__submenu ul li a:hover{
            font-size: 8px;
        } 

        body h3{
            font-size: 16px;
        }

        body p, li{
            font-size: 12px;
        }

        .map {
            grid-template-rows: repeat(2,fit-content(100%));
            grid-template-columns: repeat(1,fit-content(100%));
            width: 80vw;
            justify-items: center;
            min-width: 300px;
            margin: 0 auto;
        }
    
        .photogallery {
            width: 80vw;
            min-width: 300px;
        }

        .universal_container h3 {
            font-size: 16px;
            height: 30px;
            line-height: 30px;
        }
    
        .location__info p {
            display: none;
        }
    
        .location a {
            display: grid;
            grid-gap: 0;
            grid-template-columns: 1fr;
            grid-template-rows: fit-content(100%) 1fr;
        }
    
        .location__info{
            grid-row:1;
        }
    
        .location__info h4{
            text-align: center;
            margin:0;
        }

        .info-main__element {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

        .info-main__text {
            grid-row:2;
            grid-column: 1;
        }

        .info-main__element figure{
            grid-row: 1;
            grid-column: 1;
        }

        .info-element_h4 {
            font-size: 14px;
            padding: 0;
        }

        .info__history-foto h4{
            font-size: 16px;
            padding: 0;
        }

        .info__history-foto {
            display: flex;
            flex-direction: column;
        }

        .info__history-foto figcaption{
            margin: 0;
        }

        .info__history-foto .history-foto {
            margin: 10px 0;
        }

        .info__history-foto .history-foto img {
            width: 100%;
            height: fit-content;
            object-fit: contain;
        }


        .footer__text {
        
            font-size: 16px;
        }

        .footer__contacts{
            font-size: 14px;
        }

        .footer__social-contacts{
            font-size: 16px;
        }

}



